body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f6f6f6 ;
    margin: 0px;
}
/*HEADER*/
.header
{
    background-color: #006491;
    color: white;
    display: flex;
    font-weight: bolder;
    justify-content: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.logo
{
    width: 50px;
    height: 50px;
}

.nav-container
{
    display: inherit;
    
}

.nav
{
    display: inherit;
    height: 90px;
}

.nav ol
{
    display: inherit;
    height: inherit;
    margin: 0px;
}

.nav ol li
{
    list-style: none;
    display: inherit;
    align-items: center;
    height: inherit;
}

.nav ol li a
{
    display: inherit;
    color: white;
    text-decoration: none;
    height: inherit;
    padding: 0px 10px;
    align-items: center;
}

.cart
{
    width: 30px;
    height: 30px;
}

.cart-container
{
    display: flex;
    align-items: center;
}

/*/HEADER*/

/*CONTENT*/

/*START YOUR ORDER*/
.start-your-order-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #006491;
    margin: 20px 0px;
}

.start-your-order-title
{
    font-size: 25px;
}

.buttons-orders-container
{
    display: inherit;
    align-items: center;
    margin: 0px 10px;
}

.home-container
{
    padding: 15px 40px;
    border: 1px solid transparent;
    background-color: #e31837;
    border-radius: 3px;
}
.home-container:hover
{
    background-color: #e35868;
}

.home-container a
{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

.o-container
{
    margin: 0px;
    padding: 0px 10px;
    color: gray;
    font-weight: bolder;
    font-size: 22px;
}

.pick-up-container
{
    padding: 15px 40px;
    border: 1px solid transparent;
    background-color: #e31837;
    border-radius: 3px;
}

.pick-up-container:hover
{
    background-color: #e35868;
}

.pick-up-container a
{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
/*/START YOUR ORDER*/

/*ADVERTISING IMAGES*/
.advertising-images-container
{
    display: block;
    text-align: center;
    width: 1000px;
    margin: auto;
}

.images-container
{
    display: flex;
    justify-content: center;
}

.first-image-container
{
    width: 100%;
    text-align: end;
}

.second-image-container
{
    padding-bottom: 10px;
}

.figure-first-imagen
{
    margin: auto;
}

.two-advertising-images
{
    width: 30%;
    margin-right: 40px;
}

.figure-second-image
{
    margin: auto;
}

.figure-third-image
{
    margin: auto;
}

.fourth-image-container
{
    text-align: center;
}
/*/ADVERTISING IMAGES*/

/*/CONTENT*/

/*FOOTER*/
.footer
{
    background-color: #D7D7D7;
}

.footer-nav-container
{
    display: flex;
    justify-content: center;
}

.footer-nav
{
    display: inherit;
    height: 50px;
}

.footer-nav ol
{
    display: inherit;
    height: inherit;
    align-items: center;
    margin: 0px;
}

.footer-nav ol li
{
    list-style: none;
    height: inherit;
    display: inherit;
    align-items: center;
}

.footer-nav ol li a
{
    text-decoration: none;
    height: inherit;
    display: inherit;
    align-items: center;
    padding: 0px 10px;
    color: #4a4a4a;
}

.social-networks-container
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.facebook-container
{
    width: 50px;
    margin: 0px 5px;
}

.figure-facebook
{
    margin: auto;
    width: inherit;
}

.facebook
{
    width: inherit;
}

.instagram-container
{
    width: 35px;
    margin: 0px 5px;
}

.figure-instagram
{
    margin: auto;
    width: inherit;
}

.instagram
{
    width: inherit;
}

.twitter-container
{
    width: 35px;
    margin: 0px 5px;
}

.figure-twitter
{
    margin: auto;
    width: inherit;
}

.twitter
{
    width: inherit;
}

.pinterest-container
{
    width: 35px;
    margin: 0px 5px;
}

.figure-pinterest
{
    margin: auto;
    width: inherit;
}

.pinterest
{
    width: inherit;
}

.footer-advertising-container
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-paragraph-container
{
    color: #848484;
    width: 50%;
    margin: auto;
    text-align: justify;
}

.paragraph-two
{
    margin-bottom: 0px;
    padding-bottom: 5px;
}